################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/*.tmp
**/~$*.docx
/Kratos/Kratos.Test/Release/Kratos.Test.tlog
/Kratos/Kratos.Test/Release
