################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Documents/~$дификация программы KRATOS - требования от 20.10.2017.docx
